.sign-in{
    background-color:rgb(17, 51, 160);
    
    justify-content: center;
    text-align: center;

}
.slogan{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 100px;
    color: white;
    text-align: center;
}
.image{
    width: 150px;
    display: flex;
    justify-content: center;
}
