.name{
  font-family:'Times New Roman', Times, serif;
  font-size:300%;
  height: 20px;
  width: 50%;
}
.profession{
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
    width: 50%;
}
.button{
    background-color:darkgrey;
    color: white;
    border-radius: 4px;
    font-size: 16px;
}
.email{
    color: red;
}
.tel{
    font-family:Georgia, 'Times New Roman', Times, serif
}
.introduction{
    
}

